---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import History from '../components/History.astro';
import Solutions from '../components/Solutions.astro';
import Research from '../components/Research.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Oncogorro | Soluciones para conservar tu cabello">
	<Navbar />
	<main>
		<Hero />
		<History />
		<Solutions />
		<Research />
		<Faq />
	</main>
	<Footer />
</Layout>
